@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  font-family: "Bebas Neue";
  color:#000000;
  padding: 1rem;
  align-items: center;
}

img {
  padding: 3rem;
}

body{
  background: -webkit-linear-gradient(#3f3f3f, #000000);
  align-items: center;

}

a {
  text-decoration: none;
  align-items: center;
  color:#F2F047;

}

a:hover {
  color:#000000;

}

h1 {
  color:#F2F047;
  text-align: center;
  display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

button {
  border-width: 3px;
  border-color: #cbf54c;
  color:#cbf54c;
  background-color: #000000;
  letter-spacing: .2rem;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

button:hover{
  color:#000000;
  background-color: hsl(0, 0%, 91%);
  border-color: #000000;
}


input{
  background-color: hsl(0, 0%, 91%);
}

label{
  color: hsl(0, 0%, 100%);
  text-decoration: underline;

}

form{
  border-color: #2FDB4E;
  letter-spacing: .2rem;
  text-align: center;
  border-style: dotted;
  align-items: center;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.scoreboard {
  display: grid;
  grid-template-columns: 1 fr 1 fr;
  width: 300px;

}

.scoreboard__name{
  font-size: 2.5em;
  color: #cbf54c;
  padding: 10px;
  text-align: center;

}

.scoreboard__score{
  font-size: 6em;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border: dotted;

}

.scoreboard__controls{
  display: flex;
}

.scoreboard__control-button {
  flex-grow: 1;
  font-size: 3em;
  border: outset ;
  border-color: #2FDB4E;
  color: #2FDB4E;
  background: rgba(0, 0, 0, 30%);
  cursor: pointer;
}

.scoreboard__control-button:active {
  background: #2FDB4E;
} 

